workflows/nextcloud-provisioning.json
{
  "name": "nextcloud-provisioning",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nextcloud-provisioning",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "nextcloud-provisioning"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.type }}",
        "rules": {
          "rules": [
            {
              "value2": "org_created"
            },
            {
              "value2": "user_created"
            },
            {
              "value2": "user_joined_org"
            }
          ]
        }
      },
      "id": "node-switch",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://heykarl-nextcloud/ocs/v1.php/cloud/groups",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "groupid",
              "value": "=org-{{ $('Webhook').first().json.body.org.slug }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YWRtaW46ak05WEoxREdreTdLUzJoTDBkUkh5UXprVUx4bDhrS08wSFpickpJOUFobWhqVnlFSFlvbkt0VVpjS3BBRk91andOYjJNVFVq"
            },
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        }
      },
      "id": "node-create-group",
      "name": "OCS: Gruppe anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data;\nlet code = 0;\nif (typeof raw === 'string') {\n  try {\n    const parsed = JSON.parse(raw);\n    code = parsed.ocs?.meta?.statuscode ?? 0;\n  } catch (e) {\n    const match = raw.match(/<statuscode>(\\d+)<\\/statuscode>/);\n    code = match ? parseInt(match[1]) : 0;\n  }\n} else if (raw && typeof raw === 'object') {\n  code = raw.ocs?.meta?.statuscode ?? 0;\n}\nif (code !== 100 && code !== 102) {\n  throw new Error('OCS statuscode=' + code);\n}\nreturn $input.all();"
      },
      "id": "node-check-group",
      "name": "Check: Gruppe OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://heykarl-nextcloud/apps/groupfolders/folders",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mountpoint",
              "value": "=Organizations/{{ $('Webhook').first().json.body.org.slug }}"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YWRtaW46ak05WEoxREdreTdLUzJoTDBkUkh5UXprVUx4bDhrS08wSFpickpJOUFobWhqVnlFSFlvbkt0VVpjS3BBRk91andOYjJNVFVq"
            },
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        }
      },
      "id": "node-create-folder",
      "name": "GroupFolders: Ordner anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst folderId = data.id ?? (data.ocs && data.ocs.data && data.ocs.data.id);\nconst slug = $('Webhook').first().json.body.org.slug;\nreturn [{ json: { folder_id: folderId, slug } }];"
      },
      "id": "node-extract-folder-id",
      "name": "Extract folder_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://heykarl-nextcloud/apps/groupfolders/folders/{{ $json.folder_id }}/groups",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "group",
              "value": "=org-{{ $json.slug }}"
            },
            {
              "name": "permissions",
              "value": "31"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YWRtaW46ak05WEoxREdreTdLUzJoTDBkUkh5UXprVUx4bDhrS08wSFpickpJOUFobWhqVnlFSFlvbkt0VVpjS3BBRk91andOYjJNVFVq"
            },
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        }
      },
      "id": "node-assign-group",
      "name": "GroupFolders: Gruppe zuweisen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://heykarl-nextcloud/ocs/v1.php/cloud/users/admin/groups",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "groupid",
              "value": "=org-{{ $('Webhook').first().json.body.org.slug }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YWRtaW46ak05WEoxREdreTdLUzJoTDBkUkh5UXprVUx4bDhrS08wSFpickpJOUFobWhqVnlFSFlvbkt0VVpjS3BBRk91andOYjJNVFVq"
            },
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        }
      },
      "id": "node-admin-to-group",
      "name": "OCS: Admin zur Gruppe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://heykarl-nextcloud/ocs/v1.php/cloud/users",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "userid",
              "value": "={{ $json.body.user.email.split('@')[0] }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.user.email }}"
            },
            {
              "name": "displayName",
              "value": "={{ $json.body.user.display_name }}"
            },
            {
              "name": "password",
              "value": "={{ $randomString(24) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YWRtaW46ak05WEoxREdreTdLUzJoTDBkUkh5UXprVUx4bDhrS08wSFpickpJOUFobWhqVnlFSFlvbkt0VVpjS3BBRk91andOYjJNVFVq"
            },
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        }
      },
      "id": "node-create-user",
      "name": "OCS: User anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data;\nlet code = 0;\nif (typeof raw === 'string') {\n  try {\n    const parsed = JSON.parse(raw);\n    code = parsed.ocs?.meta?.statuscode ?? 0;\n  } catch (e) {\n    const match = raw.match(/<statuscode>(\\d+)<\\/statuscode>/);\n    code = match ? parseInt(match[1]) : 0;\n  }\n} else if (raw && typeof raw === 'object') {\n  code = raw.ocs?.meta?.statuscode ?? 0;\n}\nif (code !== 100 && code !== 102) {\n  throw new Error('OCS statuscode=' + code);\n}\nreturn $input.all();"
      },
      "id": "node-check-user",
      "name": "Check: User OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://heykarl-nextcloud/ocs/v1.php/cloud/users/{{ $('Webhook').first().json.body.user.email.split('@')[0] }}/groups",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "groupid",
              "value": "=org-{{ $('Webhook').first().json.body.org.slug }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YWRtaW46ak05WEoxREdreTdLUzJoTDBkUkh5UXprVUx4bDhrS08wSFpickpJOUFobWhqVnlFSFlvbkt0VVpjS3BBRk91andOYjJNVFVq"
            },
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        }
      },
      "id": "node-user-to-group",
      "name": "OCS: User zur Gruppe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data;\nlet code = 0;\nif (typeof raw === 'string') {\n  try {\n    const parsed = JSON.parse(raw);\n    code = parsed.ocs?.meta?.statuscode ?? 0;\n  } catch (e) {\n    const match = raw.match(/<statuscode>(\\d+)<\\/statuscode>/);\n    code = match ? parseInt(match[1]) : 0;\n  }\n} else if (raw && typeof raw === 'object') {\n  code = raw.ocs?.meta?.statuscode ?? 0;\n}\nif (code !== 100 && code !== 102) {\n  throw new Error('OCS statuscode=' + code);\n}\nreturn $input.all();"
      },
      "id": "node-check-user-group",
      "name": "Check: User-Gruppe OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OCS: Gruppe anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "OCS: User anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCS: Gruppe anlegen": {
      "main": [
        [
          {
            "node": "Check: Gruppe OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Gruppe OK": {
      "main": [
        [
          {
            "node": "GroupFolders: Ordner anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroupFolders: Ordner anlegen": {
      "main": [
        [
          {
            "node": "Extract folder_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract folder_id": {
      "main": [
        [
          {
            "node": "GroupFolders: Gruppe zuweisen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroupFolders: Gruppe zuweisen": {
      "main": [
        [
          {
            "node": "OCS: Admin zur Gruppe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCS: User anlegen": {
      "main": [
        [
          {
            "node": "Check: User OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCS: User zur Gruppe": {
      "main": [
        [
          {
            "node": "Check: User-Gruppe OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: User OK": {
      "main": [
        [
          {
            "node": "OCS: User zur Gruppe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true,
  "tags": []
}
